* {	margin: 0px;
	padding: 0px; 
	font-family: Arial, Helvetica, sans-serif;
	color: white;}

html {height: 100%; }

body { height: 100%;
		background: radial-gradient(#555,  #333);}

a { text-decoration: none;}

a:hover { text-decoration: none;}

input:-webkit-autofill {
			-webkit-box-shadow: 0 0 0px 1000px #111 inset;
			-webkit-text-fill-color: #aeaeae !important;
		}

#wrapper 	{//position: relative;
				height: 100%;
				width: 100%;
			   //border: 1px solid white;}

@media(max-width:400px){
#wrapper {
	//position: relative;
	width: 400px;
	height: 100%;
}}				 
				
#main {//position: relative;
	        //background: radial-gradient(#241e2c, #241e2c , #171519);
			//height: 100%;
			//box-shadow: 0px 0px 15px 0px black; 
			//border: 1px solid white;}

			#top {// border: 1px solid black;
					  position: relative;
					  margin: auto;
					  //margin-top:100px;
					  //width: 550px;
					  height: 50px;
					  background: #222;
					  color: white; 
					  border-bottom: 3px groove #d9534f;}

			#logo {
					background-image: url("../images/FP_Logo.png");
					background-repeat: no-repeat;
					width: 150px;
					height: 50px;
					//border: 1px solid white;
					background-position: 30px 10px;
				}
		  
			#scoreArea { height: 20px;
								 width: 190px;
								 //border: 1px solid white;
								 position: absolute;
								 top: 15px;
								 left: 30px;	}
			
			#score { display: inline;}
			#wallet { display: inline;}
			
			#walletArea {height: 20px;
								 width: 200px;
								 //border: 1px solid white; 
								 position: absolute;
								 top: 15px;
								 right: 10px; }
			
			#gizmoContainer { margin: auto;
							  margin-top: 15px;
							  border-radius: 15px;
							  //background: rgba(0, 0, 0, 0.5);
							  box-shadow: 0px 1px 10px 1px #000;
							  width: 95%;
							  height: 70%;}


				#loginArea {margin:auto;
							margin-top: 25px;
							width: 80%;
							font-size: 100%;
							height: 105px;
							//border: 1px solid white;}
							
					form { color: white;
							  height: 100%;}

										  
								#objContainer {	margin: auto;
												margin-top: 50px;
												margin-bottom: 50px;
												text-align: center;
												width: 80%;
												min-height: 150px;
												height: 100%;
												//border: 1px solid black;
												//display: inline-block;}
										 
												.inputStyle { box-shadow: inset 0px 1px 10px 0px #222;
															background: rgba(40, 40, 40, 0.4);
															color: #fff;
															float: right;
															width: 150px;
															height: 40px;
															border: 1px solid #454545;
															display: block;}
																	
																	
												.conStyle { background-color:  #5fa088;
																border: 1px outset  #77727d;
																border-radius: 3px;
																resize: none;
																font-size: 150%;
																width: 100px;
																height: 40px;}


#showPrices, #hidePrices {
	display: none;
}

#continueBTN {
	display: none;
}

.subStyle { position: relative;
            left: 70%;
            top: 15%;
            background-color:  #5fa088;
            border: 1px outset  #77727d;
            border-radius: 3px;
            resize: none;
            font-size: 150%;
            width: 150px;
            height: 40px;}


#ratingArea {
	display: none;
	padding-left: 80px;
	padding-top: 60px;
	margin:auto;
	width: 95%;
	height: 70%;
	border: 1px solid #282828;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 10px 1px #000;
}

.numStyle { 
	background-color:  #171519;
	border: 1px dashed #77727d;
	border-radius: 3px;
	resize: none;
	width: 50px;
	height: 30px;
	text-align: center;
}

.product {
	padding-top: 25px;
	height: 128px;
	width:128px;
	background: rgba(0, 0, 0, 0.4);
	color: #ddd;
	border-radius: 15px;
	border: 1px solid #333;
	box-shadow: 0px 1px 7px 1px #000;
	display: inline-block;
	//float: left;
	margin-right: 15px;
	margin-top: 15px;
	font-size: 14px;
}

.product:hover {
	padding-top: 25px;
	height: 128px;
	width:128px;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	border-radius: 15px;
	border: 1px solid #444;
	display: inline-block;
	//float: left;
	margin-right: 15px;
	margin-top: 15px;
	font-size: 14px;
	cursor: pointer;
	cursor: hand;
}

.product:active {
	padding-top: 25px;
	height: 128px;
	width:128px;
	background: rgba(0, 0, 0, 0.6);
	color: #66afe9;
	border-radius: 15px;
	box-shadow: inset 0px 1px 7px 1px #000;
	display: inline-block;
	border: 1px solid #555555;
	margin-right: 15px;
	margin-top: 15px;
	font-size: 14px;
}

#introArea{
	margin:auto;
	padding: 15px;
	margin-top:15px;
	font-family: monospace;
	font-size: 18px;
	color: #ddd;
	border: 1px solid #282828;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 10px 1px #000;
	width: 95%;
	height:70%;
	//border: 1px solid green;
}

.submitStyle {
	background-color: #ed954d;
	color: #333;
	float: right;
	display:block;
	width: 150px;
	font-size: 20px;
	font-family: fantasy ;
}

.submitStyle:hover {
	background-color: #f2b37f;
	color: #444;
}

.submitStyle:active {
	background-color: #444;
	color: #ed954d;
}

.TableHeader {
		background: rgba(255, 255, 255, 0.5);
		border-radius: 5px 5px 0px 0px;
	}