<!-- views/forgot.handlebars -->


<section id="wrapper2">
  <a href="/"><article id="logo_login"></article></a>

  <section id="forgotSection">
   
    <form id="forgot-password" action="/forgot" method="post">
      <input type="text" name="email" placeholder="Enter Email" required class="signinInput"/>
      <br>
      <input type="submit" class="btn btn-primary btn-sm subBtn1" value=""/>
      
    </form>

  </section>

</section>
