

<section id="wrapper2">
  <a href="/"><article id="logo_login"></article></a>
  <p></p> <br>
  <h1 id="regTitle"> Please fill in your details to register FlexiPrice</h1>

  <section id="signinSection">

   <form id="local-reg" action="/local-reg" method="post">
    <input type="text" name="email" placeholder="Enter Email" required class="signinInput"/>
<!-- <p></p>
    <input type="email" name="email" placeholder="Enter email address" required class="signinInput" /> -->

    <p></p>
    <input type="password" name="password" placeholder="Enter Password" required class="signinInput" />

    

    <input type="submit" class="btn btn-primary btn-sm subBtn" value=""/>

  </form>

</section>

</section>