<!-- views/layouts/experiment.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="User Authentication">
  <meta name="author" content="">

  <title>Experiment</title>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

   <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/runningExperimentStyle.css">




 </head>
<body>
  <section id="wrapper">
    <section id="top">
      <article id="logo"></article>
    </section>

    <section id="introArea">
        Introduction Text Here
    </section>

      <section id="loginArea"> 
        <form action="/SubmitToExperiment?exp_id={{experimentId}}&iteration_id={{iteration_id}}" method="post">
           <input class="form-control textStyle inputStyle" type="text" name="name" placeholder="NAME"><br><br><br>
           <input class="btn btn-default submitStyle" type="submit" value="Submit">
        </form>   
      </section>
  </section>  
</body>
</html>

